* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
    
}

/* Header */

header {
    width: 100%;
    height: 600px;

    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(180, 82%, 48%, 0), hsla(212, 100%, 85%, 0.664)), url(https://p4.wallpaperbetter.com/wallpaper/601/641/179/5c1cd37b35931-wallpaper-preview.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(180, 82%, 48%, 0), hsla(212, 100%, 85%, 0.664)), url(https://p4.wallpaperbetter.com/wallpaper/601/641/179/5c1cd37b35931-wallpaper-preview.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header {
    display: block;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

#universidad{
    color: navy;
    text-align: center;
    margin-top:15%;
    font-family: Cooper Black;
    font-size: 25px;
}

.titulo {
    color: navy;
    font-size: 30px;
    text-align: center;

}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.subtitulos {
    text-align: center;
    font-size: 16px;
}
p{
    text-align: center;
    font-size: 16px;
}


li{
    text-align: center;
    font-size: 16px;
}
img{
    width: 150px;
    height: 130px;
    margin-left: 45%;
 }